.products {
  display: flex;
  flex-direction: column;
  &__product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: .875rem;
    }
  }
  &__button {
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

.product_form,
.confirmation_popup {
  background: white;
  z-index: 2;
  border-radius: 4px;
}

.confirmation_popup {
  &__btn_wrapper {
    display: flex;
    justify-content: center;
  }
  &__button {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
